body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 50px; /* Para compensar a altura do header */
  }



  header, nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }

  nav {
    padding: 5px 0;
  }

  section {
    padding: 20px;
    margin-top: 60px; /* Para compensar a altura do header e do nav */
  }